.apresentacao{
	background-color: #044d9d;
}

.txt-centro{
	text-align: center;
}

.margin-t{
	margin-top: 30px;
}

.margin-l{
	margin-left: 15px;
}

.shadow-t{
	-webkit-box-shadow: inset 0px 71px 300px -134px rgba(0,0,0,0.11);
	-moz-box-shadow: inset 0px 71px 300px -134px rgba(0,0,0,0.11);
	box-shadow: inset 0px 71px 300px -134px rgba(0,0,0,0.11);
}

label {
position: absolute;
font-size: 13px;
left: 15px;
}

.carousel-3d-container {
	height: 500px !important;
  .carousel-3d-slide {
    padding: 20px;

    
    .title { font-size: 22px; }
  }
}

.carousel-3d-slide{
	background-color: white !important;
	border-radius: 5px !important;
	-webkit-box-shadow: 4px 10px 67px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 10px 67px -16px rgba(0,0,0,0.75);
	box-shadow: 4px 10px 67px -16px rgba(0,0,0,0.75);
	
}

.carousel-3d-slide.right-1 h3, .carousel-3d-slide.right-1 p, .carousel-3d-slide.right-1 div, .carousel-3d-slide.left-1 h3, .carousel-3d-slide.left-1 p, .carousel-3d-slide.left-1 div{
	opacity: 0.30 !important;
}

.carousel-3d-slider{
	margin-top: 50px !important;
	
}

.bg-me{
	background-image: url("../assets/imgs/PATTERNNormal.png");
	background-repeat: repeat-x;
}

.bg-branco{
	background-color: white;
}


.branco{
	color: white !important;
}

.branco:hover{
	border-radius: 5px !important;
	background-color: #043d9d !important;
}

.azul-me{
	color: #044d9d !important;
}

.azul-me:hover{
	border-radius: 5px !important;
	color: white !important;
	background-color: #044d9d !important;
}